.res {
  all: initial;
  * {
    all: unset;
  }
}

.bot {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,0.9);
    z-index: 1;
    pointer-events: none;
}

.bot > bot {
    display: block;
}

.tweet:hover .bot{
    height: 0%;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px; /* Half the height */
    margin-left: -25px; /* Half the width */
}

.stream-item-header .avatar .badge {
    border-radius: 0%;

    width: 24px;
    height: 24px;
/*    margin-top: 25px;
    margin-left: 25px;*/
}

.spin {
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.highlighted {
    outline: 2.5px 'solid blue';
    background-color: 'lightBlue';
}

/* The Modal (background) */
.mod {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1010; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.mod-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 6px;
    width: 50%; /* Could be more or less, depending on screen size */
}

.badge-content.dropdown-menu {
    height: auto;
    width: auto;
/*    margin-left: 25px;*/
    background-color: #fff;
    display: none;
    top: 0;
    position: relative;
    z-index: 2;
    float: none;
}

.dropdown:hover .badge-content {
    display: block;
    pointer-events: auto;
}

.stream-item-header .dropdown {
    height: auto;
    width: auto;
    pointer-events: auto;
}

.stream-item-header .avatar.badge-wrapper {
    padding-top: 25px;
    padding-left: 25px;
    height: auto;
    width: auto;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 5px solid black;
}